*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/bg.png) #fff no-repeat center bottom;
    background-attachment:fixed; 
}
.center{
    /* width: 63%;
    height: 72%; */
    width: 1200px;
    height: 692px;
    background: url(../images/bg_form.png) no-repeat;
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -346px 0px 0px -600px;
}
.title{
    font-size: 36px;
    color: #000;
}
.userName,.userPsd{
    border-bottom: 2px solid #000;
    width: 400px;
    padding: 10px 0px;
}
.userPsd{
    margin-top: 30px;
}
.userName{
    margin-top: 36px;
}
.userName>span,.userPsd>span{
    font-size: 20px;
    color: #000;
}
.userPsd>input{
    margin-left: 20px;
}
.userName>input,.userPsd>input{
    width: 300px;
    background-color: rgba(225,225,225,0);
    border: none;
    font-size: 20px;
}
.loginBut{
    margin-top: 72px;
    width: 164px;
    height: 47px;
    background-color: #254899;
    border-radius: 23px;
    line-height: 44px;
}
.loginBut1{
    margin-top: -46px;
    width: 164px;
    height: 47px;
    background-color: #254899;
    border-radius: 23px;
    line-height: 44px;
    margin-left: 210px;
}
.loginTitle{
    font-size: 27px;
    color: #fff;
    margin: 0px 35px 0px 41px;
    outline: none;   
                        border-color: transparent;  
                        box-shadow:none;
                     background:#254899;
}
.loginTitle1{
    font-size: 27px;
    color: #fff;
    margin: 0px 35px 0px 41px;
    outline: none;   
                        border-color: transparent;  
                        box-shadow:none;
                     background:#254899;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #2D5BC4;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}
.loginForm{
    width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -165px;
}