.basicInformation .sm-wrapper{
	float: none;
	text-align: end;
}
.basicInformation .sm-wrapper button{
	/*width: 100px;*/
	display: inline-block;

}
.search-table thead,
.add-table thead{
	display: none;
}
.add-table{
	width: 100%;
}
.add-table input{
	margin-bottom: 10px;
}

#common-set_add-table input{
	margin-bottom: 10px;
}
#common-set .btn_group
{
	text-align: end;
}
.basicInformation .btn_group{
	margin-top: 5px;
	margin-bottom: 5px;
}
#common-set .btn_group .btn
.basicInformation .btn_group .btn{
	width:10%;
}
.alert{
	display: none;
	width: 50%;
	margin: auto;
	position: absolute;
	z-index: 3000;
	left: 0px;
	right: 0px;
	opacity: .75;
}
.basicInformation .pop_detail{
	width: 70%;
	margin: auto;
	position: absolute;
	z-index: 3000;
	left: 230px;
	right: 0px;
}
.tableRow-1 td {
	width: auto;
}

.dataTables_scroll td,
.dataTables_scroll th,
.dataTables_scroll tr{
	white-space: nowrap;
}

.basicInformation .form-item{
	width: 17%;
	display: inline-block;
	margin-right: 3%;
	margin-bottom: 5px;
}
.roleAllocateBox{
	display:none;
}
.AuthorizeAcountBox{
	display:none;
}
#roleModal .user_name{
	margin-bottom: 10px;
}
#roleModal label{
	margin-right: 10px;
}
#roleModal .checkbox_group{
	margin-left: 80px;
}

#roleModal .checkbox_group .checkbox_item_group{
	margin-bottom: 10px;
}
#roleModal .checkbox_group input{
	margin-right: 10px;
}
/*.sys tbody tr:hover {*/
	/*background-color: #e3e3e3;*/

/*}*/
.sys #roleModal_addTable td{
	text-align: center;
}
.sys  td > span{
	display: inline-block;
	/*width: 149.35px;*/
	width: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sys .btn-size{
	width:10%;
}
#user_authorizeModal .sm-wrapper{
	margin-bottom: 15px;
}

.sys tbody tr.selected{
	background-color: #3875d7;
	color: white;
}
.form-control-line{
	height:34px;
	width:100%;
	display: inline;
}
@media (min-width: 893px){
	.single-row input,.single-row select{
		width:100%;
	}
}
@media (max-width: 892px){
	.single-row input{
		width:100%;
	}

}
